body{
    margin: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.header, .navigation, .index, .content, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000
    
}
.header h2, .navigation h2, .footer h2 {
    margin-bottom: 14px;
}

.content h2{
    margin: 10px 157px 10px 10px ;
}

.total{
    display: grid; 
    height: 200px;
    grid-template-columns: 20% 80%; 
}

